
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: white;
  height: 80px;
}

.nav-img {
  height: 50px;
  margin-left: 17px;
}

.nav-Buttons {
  background: none;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 100px;
}

.nav-Buttons:hover {
 background-color: rgb(231, 230, 230);
 transition: all 0.7s;
}

.B-login {
  border-radius: 15px;
  border-color: red;
  background: none;
  outline: none;
  margin-right: 25px;
  font-weight: 600;
}

.cart{
  border-radius: 10px;
  padding: 12px;
  display: flex;
  background-color: rgb(48, 48, 48);
  height: 55px;
}

.cart:hover{
  cursor: pointer;
}

.cart, p{
  font-weight: 600;
  color: white;
}

.iconList{
  height:25px;
  right: 25px;
  margin-top: 5px;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
